In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('../data/mainsurvey_sqldump.db')

In [3]:
pd.read_sql("""
SELECT type, name FROM sqlite_master ;
""", con)

     type             name
0   table            users
1   table          answers
2   table            names
3   index             rval
4   index             bval
5   index             gval
6   index        whichuser
7   index        colorname
8   index  names_colorname
9   index         names_id
10  index   names_numusers

In [4]:
pd.read_sql("""
select * from users limit 10 
""", con)

,id,user_key,datestamp,ip,language,monitor,temperature,gamma,colorblind,ychrom,samplecolors,spamprob
0,1,1irzBJF4C4MNNn5H3Ww7SFNRvqSUG,1.267419e+09,0.0.0.0,None,LCD,6500.0,2.2,0,1,blue/royal periwinkle,0.002088
1,2,1hW1tdQ5iCxFnIy4Xpc3ckh18ZDL,1.267419e+09,0.0.0.0,None,LCD,6500.0,NaN,0,1,pink/pale salmon,0.074577
2,3,1GI5SzNKh6ntR5mhD494MkZG0s4Zk1,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,1,green/light olive,0.016404
3,4,18l2GajPo4ptcw1YTXKRm1Xn8jEfNN,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,0,green/light olive,0.001562
4,5,1Qd1F6Oi9B4E6c7xInaDeqIRxmJevx1,1.267419e+09,0.0.0.0,None,LCD,6500.0,2.2,0,1,brown/raw umber,0.002381
5,6,1AbCsPkXYvMeAZ8WRSRZSYZdZk5TqT1,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,1,green/light olive,0.014400
6,7,1dbqNkYK7MlQaUkFadLRcggrwEhNf,1.267419e+09,0.0.0.0,None,CRT,9300.0,NaN,0,1,yellow/bright mustard,0.024112
7,8,1AbF4Jqo3aesG5pCBGIw1O691iCNB0,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,1,gray/charcoal,0.000716
8,9,1dpnCq0N63P8bPbmVxdLLnnW1rKCdQ,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,1,purple/bluish fuschia,0.009788
9,10,1bBpqR7DMb6EfAbZOuZO7vYkkLnz0,1.267419e+09,0.0.0.0,None,LCD,NaN,NaN,0,1,gray/charcoal,0.175683

In [5]:
pd.read_sql("""
select * from answers limit 10 
""", con)

   id  user_id     datestamp    r    g    b     colorname
0   1        1  1.267419e+09   72  100  175   pastel blue
1   2        1  1.267419e+09  204  177  246  faint violet
2   3        1  1.267419e+09  182  226  245     baby blue
3   4        1  1.267419e+09  130   64  234        purple
4   5        2  1.267419e+09   75   49  234          blue
5   6        2  1.267419e+09   76  215  249    light blue
6   7        2  1.267419e+09  111  145  122   olive green
7   8        2  1.267419e+09   88   70    1         brown
8   9        2  1.267419e+09  218   35  156          pink
9  10        4  1.267419e+09  154   42  159        purple

In [6]:
pd.read_sql("""
select * from names order by numusers DESC LIMIT 20
""", con)

        id     colorname  numusers numinstances
0   134856        purple     94383         None
1    70903         green     92160         None
2    21181          blue     92074         None
3   128613          pink     64642         None
4    29238         brown     47046         None
5   139797           red     43199         None
6    92542    light blue     38447         None
7   161461          teal     38095         None
8   120683        orange     36640         None
9    94268   light green     33592         None
10  102483       magenta     31272         None
11  180257        yellow     30439         None
12  150634      sky blue     26755         None
13   74920          grey     25116         None
14  100011    lime green     23162         None
15   96289  light purple     22277         None
16  173878        violet     22175         None
17   42776    dark green     19340         None
18  168388     turquoise     19326         None
19   90577      lavender     19018         None

In [7]:
pd.read_sql("""
select * from answers
WHERE colorname LIKE '%asd%' LIMIT 10
""", con)

       id  user_id     datestamp    r    g    b          colorname
0   68678     3807  1.267446e+09  249   14  119            fadfasd
1   89916     5100  1.267455e+09  205  141   67                asd
2   95957     5140  1.267457e+09   22  241  103  bright asda green
3  114500     6395  1.267462e+09  213   56  158            sdfasdg
4  114598     6395  1.267462e+09   57   98  135             asdasd
5  122719     6786  1.267465e+09   34  103   86               asdf
6  122723     6786  1.267465e+09   52   38   79               asdf
7  157580     8399  1.267474e+09   89  136  111               asdf
8  157589     8399  1.267474e+09   75  241   57               asdf
9  176297     9193  1.267477e+09   27  104  181                asd

In [8]:
from IPython.display import display_svg


def display_colour(r, g, b):
    colour = "#%02x%02x%02x" % (r, g, b)
    display_svg("""
    <svg x="100" style="width: 100%; height: 100%;">
        <rect height="80" style="fill: {colour}" width="80" x="10" y="10"></rect>
    </svg>
    """.format(colour=colour), raw=True)
    
display_colour(22, 241, 103)

In [9]:
answers = pd.read_sql("SELECT * FROM answers", con)

In [10]:
for i, row in answers.sample(5).iterrows():
    print(row.colorname)
    display_colour(row.r, row.g, row.b)

light green

apple green

shark tits

violet

bright green

In [11]:
h = "#f4555d"


def hex2triple(hexval):
    __ = hexval.lstrip('#')
    return tuple(int(__[i:i+2], 16) for i in (0, 2 ,4))

display_colour(*hex2triple(h))

In [12]:
answers.head()

   id  user_id     datestamp    r    g    b     colorname
0   1        1  1.267419e+09   72  100  175   pastel blue
1   2        1  1.267419e+09  204  177  246  faint violet
2   3        1  1.267419e+09  182  226  245     baby blue
3   4        1  1.267419e+09  130   64  234        purple
4   5        2  1.267419e+09   75   49  234          blue

In [13]:
import math
from collections import namedtuple

point = namedtuple('point', 'r g b')

In [14]:
p = point(*hex2triple(h))

def distanceto(row):
    return math.sqrt((row.r - p.r)**2 +
                     (row.g - p.g)**2 +
                     (row.b - p.b)**2)

In [15]:
%time
answers_w_distances = (
    answers
    .sample(100000)
    .pipe(lambda x: x.assign(dist=x.apply(distanceto, axis=1)))
)

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 11.2 µs

Do some nearest neighbours checking to see what that looks like.

In [16]:
answers_w_distances.sort_values('dist')

,id,user_id,datestamp,r,g,b,colorname,dist
1597545,1597547,72963,1.268216e+09,246,84,91,coral,3.000000
2926156,2926158,130749,1.269620e+09,244,85,89,blush pink,4.000000
1871396,1871398,84929,1.268425e+09,246,87,90,red,4.123106
2676800,2676802,120147,1.269310e+09,246,89,92,pink,4.582576
956754,956755,43604,1.267758e+09,245,87,88,peach pink,5.477226
953608,953609,43467,1.267756e+09,248,86,97,burnt pink,5.744563
3373769,3373771,150764,1.270182e+09,247,90,91,orange,6.164414
794654,794655,36610,1.267662e+09,244,89,88,red,6.403124
1070533,1070534,48661,1.267808e+09,241,91,93,magenta tint,6.708204
734769,734770,34056,1.267643e+09,242,91,90,dark pink,7.000000
2787027,2787029,124950,1.269448e+09,237,86,93,pink,7.071068
2873063,2873065,128500,1.269555e+09,250,89,93,salmon,7.211103
617551,617552,28833,1.267606e+09,246,78,93,light red,7.280110
1549270,1549272,70873,1.268185e+09,237,89,93,watermelon,8.062258
851925,851926,38930,1.267685e+09,244,93,91,reddish pink,8.246211
2163249,2163251,97999,1.268751e+09,240,78,90,pink,8.602325
3054585,3054587,136155,1.269837e+09,237,80,95,red,8.831761
2649319,2649321,118925,1.269286e+09,245,83,84,pinkish red,9.273618
151886,151887,8093,1.267473e+09,247,77,97,salmon,9.433981
1011592,1011593,46035,1.267783e+09,253,83,95,pink,9.433981
256380,256381,12784,1.267491e+09,236,81,90,salmon,9.433981
1001341,1001342,45531,1.267776e+09,247,89,101,think,9.433981
1501660,1501662,68662,1.268142e+09,252,85,99,pinky red,10.000000
593304,593305,27668,1.267599e+09,237,91,97,pink,10.049876
1050318,1050319,47803,1.267805e+09,248,83,84,salmon,10.049876
994293,994294,45250,1.267773e+09,243,80,84,watermelon pink,10.344080
3053563,3053565,136120,1.269837e+09,254,85,89,salmon,10.770330
1834954,1834956,83258,1.268394e+09,240,91,101,pink,10.770330
1076281,1076282,49158,1.267810e+09,240,83,83,pink,10.954451
2587716,2587718,116196,1.269223e+09,234,81,95,pink,10.954451
...,...,...,...,...,...,...,...,...
2421142,2421144,108930,1.269000e+09,12,251,242,electric blue,321.840022
2551864,2551866,114585,1.269170e+09,16,254,245,bright blue,321.945648
1939629,1939631,87975,1.268511e+09,3,244,236,sky blue,322.197145
15010,15011,832,1.267427e+09,14,251,246,cyan,322.280933
2702435,2702437,121242,1.269352e+09,8,246,243,teal,322.671660
2766026,2766028,124019,1.269423e+09,10,253,239,baby blue,322.948912
2735224,2735226,122625,1.269388e+09,8,243,249,cyan,324.030863
1089490,1089491,49768,1.267813e+09,19,254,254,cyan,324.202097
2894192,2894194,129390,1.269578e+09,3,234,252,light blue,324.904601
2775704,2775706,124451,1.269438e+09,6,250,242,light blue,325.683896
3137376,3137378,139690,1.269925e+09,16,255,252,electric blue,325.829710
2394955,2394957,107744,1.268974e+09,0,248,235,bright teal,325.989264
214229,214230,10895,1.267484e+09,2,243,244,neon ocean,326.081278
221860,221861,11251,1.267485e+09,3,239,250,cyan,326.260632
3144786,3144788,140038,1.269943e+09,12,250,253,blue,326.571585
200995,200996,10330,1.267481e+09,2,255,232,bright turquoise,326.779742
298643,298644,14545,1.267500e+09,4,239,253,aqua,326.980122
1170626,1170627,53460,1.267853e+09,3,239,252,"uh, that early nineties webpage color",327.227749
1608281,1608283,73489,1.268225e+09,0,245,242,carribean sea,327.623259
2363108,2363110,106481,1.268945e+09,11,253,251,turquiose,327.836850
461998,461999,21816,1.267566e+09,0,240,249,smurf,328.476788
909853,909854,41518,1.267732e+09,2,252,240,aqua,328.727851
3033844,3033846,135240,1.269810e+09,3,254,241,blue,329.463200
2708152,2708154,121465,1.269359e+09,0,245,247,light blue,329.927265
572064,572065,26744,1.267595e+09,9,254,252,blue,330.252933
1609277,1609279,73536,1.268226e+09,0,241,252,light blue,330.383111
3258520,3258522,145073,1.270112e+09,3,248,250,cyan,330.603993
1758406,1758408,79904,1.268335e+09,4,247,253,cyan,330.823216
912479,912480,41675,1.267733e+09,2,254,243,calypso,331.096663
1682192,1682194,76638,1.268265e+09,0,252,254,awua,336.668977